* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: url("../res/background.jpg");
  background-size: cover;
}

.page-info {
  width: 550px;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  justify-content: center;
}

.page-info img {
  border-radius: 50%;
  width: 25%;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-info .page-dev,
.page-name {
  text-align: center;
  font-weight: bold;
  color: rgb(42, 42, 146);
  margin-top: 20px;
}

.login-form {
  width: 350px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(42, 42, 146);
  padding: 50px;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.login-form h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.login-error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.login-form .login-row {
  margin: 15px 0;
}

.login-form label {
  font-size: 16px;
  font-weight: 600;
}

.login-form input {
  font-size: 16px;
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.login-form button {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: none;
  margin-left: 25%;
  color: rgb(42, 42, 146);
  cursor: pointer;
}

.login-form button:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 1367px) {

    body {
        background-size: 150% 1500px;
    }

    .page-info {
        top: 15%;
        display: flex;
    }

    .page-info .respon {
        margin-left: 10px;
    }

    .login-form {
        left: 50%;
    }
}

@media only screen and (max-width: 1025px) {

    .page-info {
        top: 15%;
        left: 50%;
        display: block;
    }

    .login-form {
        top: 62%;
        left: 50%;
    }

}
