.analytic-main {
  background-color: #fff;
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: rgb(91, 91, 220);
}

.analytic-content {
  display: flex;
  justify-content: center;
}

.analytic-content .analytic-box {
  width: calc(100%/5 - 15px);
}

.analytic-content .select-box {
  width: 100%;
}

#category-analyse {
  margin: 0;
}

.analytic-main .analytic-button {
  height: 30px;
  width: 100px;
  background-color: rgb(91, 91, 220);
  border-radius: 5px;
  color: #fff;
  line-height: 31px;
  text-align: center;
  margin: 20px 0 0 45%;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.analytic-main .analytic-button:hover {
  transform: scale(1.05);
  background-color: rgb(36, 38, 160);
}

.chart-main {
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  color: rgb(91, 91, 220);
  display: flex;
  justify-content: center;
  background-color: #fff;
}

#citizen-details {
  background-color: #fff;
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  color: rgb(91, 91, 220);
  display: flex;
  justify-content: space-between;
}

#citizen-details .profile-content {
  display: block;
  width: 100%;
}

#citizen-details .profile-content {
  color: rgb(65, 65, 221);
  background-color: #fff;
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#citizen-details .profile-content #form-header {
  text-align: center;
  margin-top: 30px;
}

#citizen-details .profile-content .profile-details {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#citizen-details .profile-content .profile-info {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

#citizen-details .profile-content .profile-info .info-box {
  width: calc(100% / 2 - 5px);
}

#citizen-details .profile-content .profile-info .info-box .detail-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#citizen-details .profile-content .profile-button {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  font-size: 30px;
}
