/* Css cho phần trang chủ */

.main-section .main-content .overview-boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  flex-wrap: wrap;
}

.main-section .main-content .overview-boxes .box {
  width: calc(100% / 4 - 15px);
  padding: 15px 14px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.main-section .main-content .overview-boxes .box .left-side {
  margin-left: 50px;
}

.main-section .main-content .overview-boxes .box .sticker {
  margin-right: 50px;
  font-size: 32px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  background-color: rgb(91, 91, 220);
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 12px;
  margin-left: 15px;
}

.main-section .main-content .overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.main-section .main-content .overview-boxes .number {
  font-size: 30px;
  font-weight: 500;
  margin-top: -5px;
  display: inline-block;
}

.main-section .info-boxes {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.main-section .info-boxes .info-list {
  width: calc(100% / 2 - 10px)
}

.main-section .info-boxes .info-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section .info-boxes .box {
  background-color: #fff;
  box-sizing: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main-section .info-boxes .box .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 20px;
}

.main-section .info-boxes .box .info-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.main-section .info-boxes .box .topic {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 50px;
  font-weight: 500;
}

.main-section .info-boxes .box li {
  list-style: none;
  margin: 8px 0;
}

.main-section .info-boxes .box li a {
  margin-left: 20px;
  margin-right: 20px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.main-section .info-boxes .box .chart {
  width: calc(100% / 2 - 10px);
}

.main-section .page-rotate-buttons {
  display: flex;
  justify-content: right;
  margin-top: 5px;
}

.main-section .page-rotate-buttons i {
  height: 40px;
  width: 40px;
  background-color: rgb(91, 91, 220);
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  margin-left: 20px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.main-section .page-rotate-buttons i:hover {
  transform: scale(1.05);
  background-color: rgb(36, 38, 160);
}


@media only screen and (max-width: 1366px) {
  .main-section .main-content .overview-boxes .box {
    width: calc(100%/2 - 15px);
    margin-bottom: 15px;

  }

  .main-section .info-boxes .info-list {
    width: calc(100% - 10px);
    margin-bottom: 15px;
  }
}